.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
 

/*Latitude Formating*/
h3{ 
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px; 
    padding-bottom: 10px; 
    color:white;
    background-color : LightSeaGreen;
    text-decoration-line: none;
}

h1{
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
    color: lightseagreen;
}

h2{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    color: lightseagreen;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

/* Create two equal columns that sits next to each other */
/* found source code here not sure I exectuted it right https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_image_grid */
.column{
    flex: 50%;
    padding: 0 4px;
}
    
.column img {
margin-top: 8px;
vertical-align: middle;
}
